# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
ENV/
env/
.pip/
.pipenv/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# IDEs/editors
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/

# uv lock (optional if you use uv)
uv.lock

# Test result logs
*.log